#stats{display:none;}#tresc{width: 95%;}#chat {height: 495px;overflow-y:scroll;}#contentWrap{display: none;}.error{color: red;}.whisper{color: gray;font-style: italic;}#users, .users {display: none;}
