body{background-color:#FFFFFF;margin:0;font-family:arial,geneva,verdana,sans-serif;font-size:12px;color:#434343;}
#chat{height:255px;}
#shoutbox {height: 205px;overflow-y:scroll;}
#contentWrap{display: none;}
#chatWrap{float: left;border: 1px #000 solid;}
.error{color: red;}
.whisper{color: gray;font-style: italic;}
#users, {width: 200px;}
.users {display: none;width: 200px;}
#shoutbox{border:1px solid #00438b;border-top-color:#1860ac;}
input{background-color:#F5F5F5;border:1px solid #879EB4;margin-top:1px;margin-bottom:1px;}
.bar-h{background-color:#0096c8;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:5px 12px 6px 10px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:15px;line-height:1;margin:0 0 5px;color:#fff;text-shadow:-1px -1px 0 #037ead;position:relative}
.bar-h.large{padding:11px 12px 9px;font-size:18px}
